$main-color: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
$default-padding: 10px;

.App {
  min-height: 100vh;
  background-image: $main-color;
}

.navbar {
  background-color: black;
  display: flex;
  margin-bottom: 20px;
}

.search-bar {
  min-width: 30%;
  height: 35px;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-title {
  font-size: 60px;
  color: white;
}

.genre-select {
  min-width: 100px;
  width: 200px;
}